.fc-prev-button, .fc-next-button, .fc-today-button, .fc-dayGridMonth-button, .fc-timeGridWeek-button, .fc-timeGridDay-button {
    background-color: #173767 !important;
    color: #fff !important;
  }
  
  .fc-day.today {
    background-color: #173767 !important;
    color: #fff !important;
  }

  .fc-toolbar-title {
    color: #173767 !important;
  }
  