.cartbuttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-Space: nowrap;
  }
  
  .cartItemImg {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
  }
  
  .cartItemDetail {
    display: flex;
    flex: 1;
    padding: 0 20px;
    flex-direction: column;
  }
  
  body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

.main-content {
  display: flex;
  flex-direction: row;
  padding: 15px;
  height: calc(100vh - 50px);
}

.main-content .productContainer {
  flex-grow: 1;
  overflow-y: auto;
  padding-left: 20px;
}

.main-content .productContainer::-webkit-scrollbar {
  width: 8px;
}

.main-content .productContainer::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.main-content .productContainer::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.home {
  display: flex;
}
  
  .filter {
    position: fixed;
    top: 60px;
    background-color: #b98259;
    color: #FFFFFF;
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: calc(100% - 50px);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    left: 0;
    overflow-y: none;
  }

  .subtotal {
    background-color: #b98259;
    color: #FFFFFF;
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100vh;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .filter > span {
    padding-bottom: 5px;
  }
  
  .title {
    font-size: 20px;
    padding-top: 20px;
    text-align: center;
  }
  
  .productContainer {
    display: flex;
    width: 80%;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 250px;
  }

  .productCart {
    display: flex;
    width: 80%;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 20px;
  }
  
  .products {
    width: 30%;
    margin: 10px;
  }
  
  .summary {
    width: 25%;
  }
  
  /* Media Queries */
  @media (max-width: 771px) {
    .filter {
      position: fixed;
      top: 60px;
      background-color: #b98259;
      color: #FFFFFF;
      padding: 10px;
      display: flex;
      flex-direction: column;
      width: 30%;
      height: calc(100% - 50px);
      box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
      left: 0;
      overflow-y: none;
    }
  
    .filter > span {
      padding-bottom: 5px;
      font-size: small;
    }
  
    .title {
      font-size: 16px !important;
    }
  
    .productContainer {
      width: 70%;
      padding: 10px;
      margin-left: 30%;
    }
  
    .search {
      display: block !important;
    }
  
    .products {
      width: 100%;
    }
  }
